#viewer .screens-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 500px;
  /* overflow: scroll; */
}

#viewer .screens-container .screen {
  position: absolute;
  box-sizing: border-box;
  width: 33vw;
  height: 100%;
  top: 0;
}
